<template name="editreservation">
    {{#autoForm collection="Reservations" doc=this id="updateReservationForm" type="update" resetOnSuccess="false"}}
    <fieldset>
        <legend>Edit Reservation</legend>
                {{> afQuickField name="name"}}
                {{> afQuickField name="start" type='datetime-local'}}
                {{> afQuickField name="end" type='datetime-local'}}
                {{> afQuickField name='description' rows=6}}
    </fieldset>
    <label class = "control-label">Requested Resources</label>
    <div id="resTree"></div>
    <button type="submit" class="btn btn-primary" id="updateReservation">Update</button>
    {{> quickRemoveButton collection="Reservations" _id=this._id onSuccess=onSuccess beforeRemove=beforeRemove class="btn btn-danger"}}
    {{/autoForm}}
</template>
