<template name="reservation">
    {{#autoForm collection="Reservations" doc = this id="insertReservationForm" type="insert" resetOnSuccess="true"}}
            <fieldset>
                <legend>Add a Reservation</legend>
                {{> afQuickField name="name"}}
                {{> afQuickField name="start" type='datetime-local' value=today}}
                {{> afQuickField name="end" type='datetime-local' value=tomorrow}}
                {{> afQuickField name='description' rows=6}}
                {{> afQuickField name="resourceId" type='select-multiple' options=optionsHelper}}
            </fieldset>
            <button type="submit" class="btn btn-primary">Reserve!</button>
            {{/autoForm}}
</template>