<template name="editresource">
    {{#autoForm collection="Resources" doc=this id="updateResourceForm" type="update"}}
    <fieldset>
        <legend>Edit Resource</legend>
        {{> afQuickField name='name'}}
        {{> afQuickField name='description' rows=6}}
        {{> afQuickField name='tags'}}
        {{> afQuickField name='canReserve' options=optionsHelper}}
        {{> afQuickField name='canView' options=optionsHelper}}
    </fieldset>
    <button type="submit" class="btn btn-primary" id="updateResource">Update</button>
    {{> quickRemoveButton collection="Resources" _id=this._id onSuccess=onSuccess beforeRemove=beforeRemove class="btn btn-danger"}}
    {{/autoForm}}
</template>