<template name="resource">
    {{#if isResourceManager}}
    <div class="well">
        <h4>Admin Configuration</h4>
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4 text-center">
                <button class="btn btn-default" id="edit-resource">Edit Resource</button>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>
    {{/if}}
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4 text-center">
            <h4>Calendar for {{name}}</h4>
            <p>{{description}}</p>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <div class="row">
            {{>fullcalendar id="resourceCalendar" defaultView="agendaWeek" events=events eventClick=onEventClicked header=calendarHeader}}
    </div>
</template>