<template name="addresource">
    {{#autoForm collection="Resources" id="insertResourceForm" type="insert" resetOnSuccess="true"}}
    <fieldset>
        <legend>Add a Resource</legend>
        {{> afQuickField name='name'}}
        {{> afQuickField name='description' rows=6}}
        {{> afQuickField name='tags'}}
        {{> afQuickField name='restricted'}}
        {{> afQuickField name='sharing' options="allowed"}}
        {{#if afFieldValueIs name="sharing" value="limited"}}
            {{> afQuickField name="limit"}}
        {{/if}}
        {{> afQuickField name='parentId' options=parentHelper}}
        {{> afQuickField name='managers' options=optionsHelper}}
        {{> afQuickField name='canReserve' options=optionsHelper}}
        {{> afQuickField name='canView' options=optionsHelper}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Add Resource</button>
    {{/autoForm}}
</template>