<template name="dashboard">
    {{#if isInRole 'admin,userManager,resourceManager'}} 
    <div class="well">
        <h4>Admin Configuration</h4>
    <div class="row">
        <div class="col-sm-2">
        </div>
        {{#if isInRole 'admin,userManager'}}
        <div class="col-sm-2 text-center">
            <button class="btn btn-default" id="users">Add Users</button>
        </div>
        <div class="col-sm-4 text-center">
            <button class="btn btn-default" id="groups">Edit Groups</button>
        </div>
        {{else}}
        <div class="col-sm-2 text-center">
        </div>
        <div class="col-sm-4 text-center">
        </div>
        {{/if}}
        {{#if isInRole 'admin,resourceManager'}}
        <div class="col-sm-2 text-center">
            <button class="btn btn-default" id="resources">Add Resources</button>
        </div>
        {{else}}
        <div class="col-sm-2 text-center">
        </div>
        {{/if}}
        <div class="col-sm-2">
        </div>
    </div>
    </div>
    {{/if}}
    <div class="row">
        <div class="col-sm-2 text-center">
        </div>
        <div class="col-sm-2 text-center">
             <button class="btn btn-default" id="reserve">Make a Reservation</button>
        </div>
        <div class="col-sm-4 text-center">
             <button class="btn btn-default" id="approve">View Approval Queue</button>
        </div>
        <div class="col-sm-2 text-center">
            <button class="btn btn-default" id="viewreserve">View your Reservations</button>
        </div>
        <div class="col-sm-2 text-center">
        </div>
    </div>
    <div class = "row"></div>
    <div class="row">
        <div class="input-group" id="search-box">
            <span class="input-group-addon">
                <input type="checkbox" aria-label="..." id="not-contains">
                Not Contains
            </span>
            <input type="text" class="form-control" aria-label="...">
        </div>
    </div>
    <div class="row">
        <div class="list-group">
            {{#each getResources}}
            <button type="button" class="list-group-item">
                <h5 class="list-group-item-heading">{{name}}</h5>
                <p class="list-group-item-text">{{description}}</p>
                {{#each tag in tags}}
                <span class="badge">{{{tag}}}</span> {{/each}}
            </button>
            {{/each}}
        </div>
    </div>
</template>