<template name="dashboard">
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3">
            <a>Add Users</a>
        </div>
        <div class="col-sm-3">
            <a>Add Resources</a>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
    <div class="row">
        <div class="list-group">
            {{#each resources}}
            <button type="button" class="list-group-item">
                <h5 class="list-group-item-heading">{{name}}</h5>
                <p class="list-group-item-text">{{description}}</p>
                {{#each tag in tags}}
                <span class="badge">{{tag}}</span>
                {{/each}}
            </button>
            {{/each}}
        </div>


    </div>
</template>