<template name="approvals">
<div class="row">
        <h3>Awaiting Approval</h3>
        {{#each getResources}}
        <h3>{{name}}</h3>
        <div class="list-group">
            {{#each getReservations}}
            <div class="list-group-item">
                <div class="row">
                <div class="col-xs-8">
                <h5 class="list-group-item-heading">{{name}}</h5>
                <p> Requested from {{start}} until {{end}}</p>
                </div>
                <div class="col-xs-4">
                <button type="button" class="btn btn-success approve" id={{../_id}}>Approve</button>
                <button type="button" class="btn btn-danger reject" id={{../_id}}>Reject</button>
                </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/each}}
    </div>
</template>